body{
    background-color: rgb(224, 224, 224) !important;
    color: black !important;   
}
.mainBackgroung{
    background-color: white !important;
    border-radius: 10px;
    margin-right: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
}
